<a href="https://colab.research.google.com/github/lawalAfeez820/hamoye-assign/blob/main/Week1_hamoye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
dataset=pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding='latin-1')

In [4]:
dataset.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [50]:
#QUESTION 11

dataset.groupby("Item").sum().loc["Animal fats",["Y2014","Y2017"]]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [42]:
#QUESTION 12

dataset.describe().loc[["mean","std"],"Y2015"]

mean     135.235966
std     1603.403984
Name: Y2015, dtype: float64

In [7]:
#QUESTION 13a
dataset.isnull().sum()["Y2016"]

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [41]:
#QUESTION 13b
(dataset.isnull().sum()/dataset.shape[0]*100)["Y2016"]

2.5187470259094566

In [46]:
#QUESTION 14
dataset.corr()["Element Code"].sort_values(ascending=False)

Element Code    1.000000
Y2014           0.024457
Y2018           0.024279
Y2017           0.024254
Y2015           0.023889
Y2016           0.023444
Area Code      -0.000209
Item Code      -0.024683
Name: Element Code, dtype: float64

In [48]:
#QUESTION 15

dataset.groupby("Element").sum().loc["Import Quantity"].sort_values(ascending=False)

Element Code    28834929.00
Item Code       13795966.00
Area Code         688174.00
Y2017             294559.09
Y2018             287997.09
Y2016             286582.78
Y2014             274144.48
Y2015             267018.46
Name: Import Quantity, dtype: float64

In [17]:
#QUESTION 17 and 18 was done with this

dataset.groupby("Element")["Y2018","Element"].sum().sort_values(by="Y2018",ascending=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                             Y2018
Element
Domestic supply quantity                2161192.10
Production                              2075072.89
Food                                    1303841.28
Total Population - Both sexes           1140605.00
Food supply (kcal/capita/day)            455261.00
Processing                               308429.00
Import Quantity                          287997.09
Feed                                     233489.68
Export Quantity                          181594.80
Losses                                   163902.00
Other uses (non-food)                     91300.97
Food supply quantity (kg/capita/yr)       49056.85
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Protein supply quantity (g/capita/day)    11833.56
Fat supply quantity (g/capita/day)        10258.69
Tourist consumption                          90.00

In [28]:
dataset.groupby(["Area","Y2018"])["Element"].sum()

Area      Y2018
Algeria   -90.0                          Stock VariationStock Variation
          -33.0                                         Stock Variation
          -30.0                                         Stock Variation
          -29.0                                         Stock Variation
          -20.0                                         Stock Variation
                                            ...
Zimbabwe   1908.0                         Food supply (kcal/capita/day)
           2071.0                              Domestic supply quantity
           3560.0     ProductionDomestic supply quantityProductionDo...
           3669.0                                  ProcessingProcessing
           14439.0                        Total Population - Both sexes
Name: Element, Length: 14853, dtype: object

In [24]:
#QUESTION 20
dataset["Area"].nunique()

49

Cloning into 'hamoye-assign'...
warning: You appear to have cloned an empty repository.

fatal: not a git repository (or any of the parent directories): .git